<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="icon" type="image/x-icon" href="furniture/favicon.ico"/>
		<title>Terminologue</title>
		<meta property="og:title" content="Terminologue" />
		<meta property="og:site_name" content="Terminologue"/>
		<meta name="description" content="Your termninology management platform" />
		<meta property="og:description" content="Your termninology management platform" />
		<meta property="og:image" content="<%-siteconfig.baseUrl%>furniture/preview.gif" />
		<meta property="og:url" content="<%-siteconfig.baseUrl%>" />
		<meta name="twitter:url" content="<%-siteconfig.baseUrl%>" />
		<script type="text/javascript" src="libs/jquery.js"></script>
		<script type="text/javascript" src="libs/screenful/screenful.js"></script>
		<link type="text/css" rel="stylesheet" href="libs/screenful/screenful.css" />
		<script type="text/javascript" src="libs/screenful/screenful-loc-<%-uilang%>.js"></script>
		<link type="text/css" rel="stylesheet" href="libs/screenful/screenful-theme-green.css" />
		<script type="text/javascript">var rootPath="";</script>

		<script type="text/javascript" src="libs/screenful/screenful-uilang.js"></script>
		<link type="text/css" rel="stylesheet" href="libs/screenful/screenful-uilang.css" />
		<script type="text/javascript">
		Screenful.Uilang.url="uilang?lang=$",
		Screenful.Uilang.languages=<%-JSON.stringify(uilangs)%>;
		Screenful.Uilang.current="<%-uilang%>";
		</script>

		<script type="text/javascript" src="libs/screenful/screenful-user.js"></script>
		<link type="text/css" rel="stylesheet" href="libs/screenful/screenful-user.css" />
		<script type="text/javascript">
		Screenful.User.loggedin=<%=(user.loggedin ? "true" : "false")%>;
		Screenful.User.username="<%=user.email%>";
		</script>
		<script type="text/javascript" src="furniture/screenful-user-config.js"></script>

		<link type="text/css" rel="stylesheet" href="furniture/public.css" />
	</head>
	<body class="sitehome">
		<div id="header">
			<a class="sitehome" href=""><%if(siteconfig.readonly){%><span class="readonly"><%=L("READ-ONLY")%></span><%}%></a>
			<div class="topright">
		    <div class="one ScreenfulUilang"></div>
		    <div class="one ScreenfulUser"></div>
		  </div>
		</div>

		<div class="invelope top">
			<div class="leftie">
				<div class="welcome">
					<%-siteconfig.welcome[uilang]%>
				</div>
			</div>
			<div class="rightie">
				<%if(siteconfig.readonly){%>
					<div class="readonly">
						<div class="readonlyTitle"><%=L("READ-ONLY")%></div>
						<%=L("Terminologue is undergoing maintenance and is currently in read-only mode.")%>
						<%=L("Normal operation will resume as soon as possible.")%>
						<%=L("Sorry for the inconvenience.")%>
					</div>
				<%}else{%>
					<%if(!user.loggedin){%>
						<div class="usertop">
							<div class="title"><%=L("Registered user login")%></div>
							<div class="subtitle"><a href="signup/"><%=L("Get an account")%></a> | <a href="forgotpwd/"><%=L("Forgot your password?")%></a></div>
						</div>
						<form id="login" onsubmit="return false">
							<div class="field email"><div class="label"><%=L("E-mail address")%></div><input class="textbox email"/></div>
							<div class="field password"><div class="label"><%=L("Password")%></div><input class="textbox password" type="password"/></div>
							<div class="field submit"><button><%=L("Log in")%></button></div>
							<div class="error" style="display: none"><%=L("Invalid e-mail address or password.")%></div>
						</form>
						<script type="text/javascript">
						$(window).ready(function(){
							$("form#login").on("submit", function(e){
					      var email=$("form#login div.field.email input").val();
					      var password=$("form#login div.field.password input").val();
					      if(email!="" && password!="") {
									$.ajax({url: "login.json", dataType: "json", method: "POST", data: {email: email, password: password}}).done(function(data){
							      if(data.success) window.location.reload();
							      else $("form#login div.error").show();
							    });
								}
					      return false;
					    });
						});
						</script>
					<%}else{%>

						<div class="usertop">
							<div class="title"><%=user.email%></div>
							<div class="subtitle"><a href="logout/"><%=L("Log out")%></a> | <a href="changepwd/"><%=L("Change your password")%></a></div>
						</div>

						<div class="yourdicts"><%=L("Your termbases")%></div>
						<%if(termbases.length==0){%>
							<div class="nodicts"><%=L("You have no termbases yet.")%></div>
						<%}else{%>
							<%for(var i=0; i<termbases.length; i++){ termbases[i].title=JSON.parse(termbases[i].title); %>
								<div class="dict">
									<a class="dictTitle" href="<%-termbases[i].id%>/"><%=termbases[i].title[uilang] || termbases[i].title.$%></a>
									<!--<a class="dictAction" href="<%-termbases[i].id%>/">Delete</a>-->
								</div>
							<%}%>
						<%}%>
						<div class="createdict"><a href="make/"><%=L("Create a termbase")%></a></div>

						<%if(user.isAdmin){%>
							<div class="yourdicts"><%=L("Administration")%></div>
							<div class="adminlink"><a href="users/"><%=L("Users")%></a> <a href="termbases/"><%=L("Termbases")%></a></div>
						<%}%>

					<%}%>
				<%}%>
			</div>
			<div class="clear"></div>
		</div>



		<div class="invelope bottom">
			<div id="sitefooter">
				<div class="right"><a href="https://github.com/dcufsg/terminologue" class="github" title="GitHub" target="_blank"></a></div>
				<div>Terminologue &copy; <a href="https://www.dcu.ie/" target="_blank"><%=L("Dublin City University")%></a> 2018</div>
				<div class="logolint">
					<a class="dcu" target="_blank" href="https://www.dcu.ie/" title="<%=L("Dublin City University")%>"></a>
				</div>
			</div>
		</div>

		<%-siteconfig.trackingCode%>
	</body>
</html>
