<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="icon" type="image/x-icon" href="../furniture/favicon.ico"/>
		<title><%=L("Log in")%></title>
		<script type="text/javascript" src="../libs/jquery.js"></script>
		<script type="text/javascript" src="../libs/screenful/screenful.js"></script>
		<link type="text/css" rel="stylesheet" href="../libs/screenful/screenful.css" />
		<link type="text/css" rel="stylesheet" href="../libs/screenful/screenful-theme-green.css" />
		<link type="text/css" rel="stylesheet" href="../furniture/public.css" />
		<script type="text/javascript">var rootPath="../";</script>

		<script type="text/javascript" src="../libs/screenful/screenful-uilang.js"></script>
		<link type="text/css" rel="stylesheet" href="../libs/screenful/screenful-uilang.css" />
		<script type="text/javascript">
		Screenful.Uilang.url="../uilang?lang=$",
		Screenful.Uilang.languages=<%-JSON.stringify(uilangs)%>;
		Screenful.Uilang.current="<%-uilang%>";
		</script>

		<script type="text/javascript" src="../libs/screenful/screenful-user.js"></script>
		<link type="text/css" rel="stylesheet" href="../libs/screenful/screenful-user.css" />
		<script type="text/javascript">
		Screenful.User.loggedin=<%=(user.loggedin ? "true" : "false")%>;
		Screenful.User.username="<%=user.email%>";
		</script>
		<script type="text/javascript" src="../furniture/screenful-user-config.js"></script>

		<script type="text/javascript" src="../libs/screenful/screenful-login.js"></script>
		<link type="text/css" rel="stylesheet" href="../libs/screenful/screenful-login.css" />
		<script type="text/javascript" src="../libs/screenful/screenful-loc-<%-uilang%>.js"></script>
		<script type="text/javascript">
		Screenful.Login.loginUrl="../login.json";
		Screenful.Login.redirectUrl="<%=redirectUrl%>";
		</script>
	</head>
	<body>
		<div id="header">
			<a class="sitehome" href="../"><%if(siteconfig.readonly){%><span class="readonly"><%=L("READ-ONLY")%></span><%}%></a>
			<div class="topright">
		    <div class="one ScreenfulUilang"></div>
		    <div class="one ScreenfulUser"></div>
		  </div>
		</div>
	</body>
</html>
