<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8"/>
		<script type="text/javascript">var uilang="<%=uilang%>";</script>
		<link rel="icon" type="image/x-icon" href="../../furniture/favicon.ico"/>
		<title><%=termbaseConfigs.ident.title[uilang] || termbaseConfigs.ident.title.$%></title>
		<script type="text/javascript" src="../../libs/jquery.js"></script>
		<link type="text/css" rel="stylesheet" href="../../libs/screenful/screenful-theme-green.css" />
		<script type="text/javascript" src="../../libs/screenful/screenful.js"></script>
		<link type="text/css" rel="stylesheet" href="../../libs/screenful/screenful.css" />
		<script type="text/javascript" src="../../libs/screenful/screenful-loc-<%-uilang%>.js"></script>
		<script type="text/javascript" src="../../localizer/<%-uilang%>.js"></script>

		<script type="text/javascript" src="../../libs/screenful/screenful-uilang.js"></script>
		<link type="text/css" rel="stylesheet" href="../../libs/screenful/screenful-uilang.css" />
		<script type="text/javascript">
		Screenful.Uilang.url="../../uilang?lang=$",
		Screenful.Uilang.languages=<%-JSON.stringify(uilangs)%>;
		Screenful.Uilang.current="<%-uilang%>";
		</script>

		<script type="text/javascript">var rootPath="../../";</script>
		<script type="text/javascript" src="../../libs/screenful/screenful-user.js"></script>
		<link type="text/css" rel="stylesheet" href="../../libs/screenful/screenful-user.css" />
		<script type="text/javascript">
		var termbaseConfigs=<%-JSON.stringify(termbaseConfigs)%>;
		var termbaseMetadata=<%-JSON.stringify(termbaseMetadata)%>;
		</script>
		<script type="text/javascript">
		Screenful.User.loggedin=<%=(user.loggedin ? "true" : "false")%>;
		Screenful.User.username="<%=user.email%>";
		</script>
		<script type="text/javascript" src="../../furniture/screenful-user-config.js"></script>

		<link type="text/css" rel="stylesheet" href="../../libs/screenful/screenful-navigator.css" />
		<script type="text/javascript" src="../../libs/screenful/screenful-navigator.js"></script>
		<script type="text/javascript" src="../../libs/js.cookie.js"></script>
		<script type="text/javascript" src="../../views/termbase-edit/fy-entry.js"></script>
		<script type="text/javascript">
		Screenful.Navigator.listUrl="./list.json";
    Screenful.Navigator.listByIdUrl="./listById.json";
		Screenful.Navigator.stepSize=100;
		Screenful.Navigator.editorUrl="./editor.html";
		Screenful.Navigator.modifiers=[
			{position: "left", value: "smart", caption: "<%=L("smart search")%>"},
			{position: "left", value: "complete", caption: "<%=L("complete term")%>"},
			{position: "left", value: "start", caption: "<%=L("start of term")%>"},
			{position: "left", value: "end", caption: "<%=L("end of term")%>"},
			{position: "left", value: "part", caption: "<%=L("any part of term")%>"},
			{position: "left", value: "midpart", caption: "<%=L("any part except start or end")%>"},
			{position: "box", value: "*", abbr: "—", caption: "<%=L("search in all languages")%>"},
		];
		termbaseConfigs.lingo.languages.map(lang => {
			if(lang.role=="major") {
				Screenful.Navigator.modifiers.push({position: "box", value: lang.abbr, abbr: lang.abbr.toUpperCase(), caption: L("only")(Spec.title(lang.title, "<%=uilang%>"))},);
				Screenful.Navigator.modifiers.push({position: "right", value: lang.abbr, abbr: lang.abbr.toUpperCase(), caption: "<%=L("sorting language")%>: "+Spec.title(lang.title, "<%=uilang%>")},);
			}
		});
		Screenful.Navigator.entryDeleteUrl="./delete.json";
		</script>

		<link type="text/css" rel="stylesheet" href="../../widgets/pretty-small.css" />
		<script type="text/javascript" src="../../widgets/pretty-small.js"></script>
		<script type="text/javascript">
		Screenful.Navigator.renderer=function(div, entry, searchtext, modifier){
			//$(div).html(entry.id);
			$(div).html( Pretty.entry(JSON.parse(entry.json)) );
		};
		</script>

		<script type="text/javascript">
		// Screenful.Navigator.critEditor=function(div, crits){ //optional
		// 	//div = an HTML element to render the criteria editor into
		// 	//crits = "..." or JSON,  the criteria to render; if undefined then render blank criteria
		// 	$(div).html(`<input class="focusme" style="font: inherit; width: 100%; box-sizing: border-box"/>`);
		// };
		// Screenful.Navigator.critHarvester=function(div){ //optional
		// 	//div = an HTML element to harvest the criteria from
		// 	//returns "..." or JSON
		// 	return $(div).find("input").val();
		// };
		</script>

		<script type="text/javascript">
		Screenful.Navigator.enableLeftPanel=true;
		</script>
		<link type="text/css" rel="stylesheet" href="../../libs/screenful/screenful-facetor.css" />
		<script type="text/javascript" src="../../libs/screenful/screenful-facetor.js"></script>
		<script type="text/javascript" src="../../views/termbase-edit/fy-entry.js"></script>
		<script type="text/javascript" src="../../views/termbase-edit/facetor-settings.js"></script>

		<%if(user.level>1){%>
			<script type="text/javascript">
			Screenful.Navigator.actions=[
				{
					caption: "<%=L('Change checking status to')%> <strong><%=L('checked')%></strong>",
					url: "./cStatus.json?val=1",
				},
				{
					caption: "<%=L('Change checking status to')%> <strong><%=L('not checked')%></strong>",
					url: "./cStatus.json?val=0",
				},
				{
					caption: "<%=L('Change publishing status to')%> <strong><%=L('publishable')%></strong>",
					url: "./pStatus.json?val=1",
				},
				{
					caption: "<%=L('Change publishing status to')%> <strong><%=L('hidden')%></strong>",
					url: "./pStatus.json?val=0",
				},
			];
			termbaseMetadata.extranet=(termbaseMetadata.extranet || []);
			termbaseMetadata.extranet.map(extranet => {
				if(extranet.live=="1") {
					Screenful.Navigator.actions.push({
						caption: "<span class='extranet'><strong><%=L('EXTRANET')%></strong> "+Spec.title(extranet.title, uilang)+"</span> <%=L('Add to extranet')%>",
						url: "./extranetAdd.json?extranetID="+extranet.id,
					});
					Screenful.Navigator.actions.push({
						caption: "<span class='extranet'><strong><%=L('EXTRANET')%></strong> "+Spec.title(extranet.title, uilang)+"</span> <%=L('Remove from extranet')%>",
						url: "./extranetRemove.json?extranetID="+extranet.id,
					});
				}
			});
			Screenful.Navigator.starlistActions=[
				{
					caption: "<%=L('Create mutual cross-references')%>",
					//url: "./read.json?id=0",
					url: "./xrefsMake.json",
				},
				{
					caption: "<%=L('Remove mutual cross-references')%>",
					//url: "./read.json?id=0",
					url: "./xrefsBreak.json",
				},
				{
					caption: "<%=L('Merge into a single entry')%>",
					//url: "./read.json?id=0",
					url: "./merge.json",
				},
			];
			</script>
		<%}%>

		<link type="text/css" rel="stylesheet" href="../../../furniture/ui.css" />
	</head>
	<body>
		<%-include("../header.ejs", {user: user, termbaseID: termbaseID, termbaseConfigs: termbaseConfigs, sectionID: "edit", rootPath: "../../", L: L})%>
	</body>
</html>
