<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="icon" type="image/x-icon" href="./furniture/favicon.ico"/>
		<title>téarma.ie</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="./furniture/furniture.js"></script>
		<link type="text/css" rel="stylesheet" href="./furniture/furniture.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

		<script type="text/javascript" src="/views/_tearma/pretty/spec.js"></script>
		<script type="text/javascript" src="/views/_tearma/pretty/pretty.js"></script>
		<link type="text/css" rel="stylesheet" href="/views/_tearma/pretty/pretty.css"/>
		<script type="text/javascript">var termbaseMetadata=<%-JSON.stringify(metadata)%>;</script>
		<script type="text/javascript">var termbaseConfigs=<%-JSON.stringify(configs)%>;</script>

	</head>
	<body>

    <div class="topbar">
      <div class="inside">
        <a class="current" href="home.html"><img src="./furniture/minilogo-tearma.png"/><span>téarma.ie</span></a><a class="focloir" href="https://www.focloir.ie/"><img src="./furniture/minilogo-white.png"/><span>foclóir.ie</span></a><a class="teanglann" href="https://www.teanglann.ie/"><img src="./furniture/minilogo-white.png"/><span>teanglann.ie</span></a></div>
    </div>

    <div class="envelope">
      <div class="rightie">

        <div class="logobox">
          <a href="./" class="logo"><img src="./furniture/tearma.png" alt="téarma.ie"/></a>
          <div class="title">
            <span class="ga" lang="ga">Bunachar Náisiúnta Téarmaíochta don Ghaeilge</span>
            &middot; <span class="en" lang="en">National Terminology Database for Irish</span>
          </div>
          <div class="icons">
            <a href="#" class="facebook fab fa-facebook"></a>
            <a href="#" class="twitter fab fa-twitter"></a>
          </div>
        </div>

        <div class="kickbox">
					<a class="langlink selected" href="#">
            <span class="icon">GA</span>
            <span class="ga" lang="ga">Sórtáil i nGaeilge</span>
            <span class="en" lang="en">Sort by Irish</span>
          </a>
					<a class="langlink" href="#">
            <span class="icon">EN</span>
            <span class="ga" lang="ga">Sórtáil i mBéarla</span>
            <span class="en" lang="en">Sort by English</span>
          </a>
					<%if(superID){%>
						<div class="sep"></div>
						<a class="sitelink" href="#">
	            <span class="icon fas fa-plus-square"></span>
	            <span class="ga" lang="ga">Taispeáin breis mionsonraí</span>
	            <span class="en" lang="en">Show more details</span>
	          </a>
						<a class="sitelink" href="#">
	            <span class="icon fas fa-print"></span>
	            <span class="ga" lang="ga">Leagan furasta le priontáil</span>
	            <span class="en" lang="en">Printer-friendly version</span>
	          </a>
					<%}%>
        </div>

      </div>
      <div class="leftie">

				<div class="swapper">
					<a href="./">
						<span class="icon fas fa-search"></span>
						<span class="ga" lang="ga">Cuardach tapa</span>
            <span class="en" lang="en">Quick search</span>
					</a>
					<a  href="./adv">
						<span class="icon fas fa-search-plus"></span>
            <span class="ga" lang="ga">Cuardach casta</span>
            <span class="en" lang="en">Advanced search</span>
          </a>
					<a  href="./dom"  class="current">
						<span class="icon fas fa-sitemap"></span>
						<span class="ga" lang="ga">Brabhsáil</span>
						<span class="en" lang="en">Browse</span>
          </a>
				</div>

				<%if(!superID){%>
					<div class="domains formunlike">
						<%for(var i=0; i<metadata.domain.length; i++){%>
							<a href="./dom?superID=<%=metadata.domain[i].id%>" class="domain"><span class="ga" lang="ga"><%=metadata.domain[i].title.ga%></span> <span class="en" lang="en"><%=metadata.domain[i].title.en%></span> <span class="arrow">»</span></a>
						<%}%>
					</div>
				<%} else {%>
					<a class="domainAction" href="./dom">
						<span class="icon fas fa-chevron-circle-left"></span>
						<span class="ga" lang="ga">Gach réimse</span>
						<span class="en" lang="en">All domains</span>
					</a>
					<div class="domains formlike">
						<%
							function hasSub(subdomains, subID){
								var ret=false;
								for(var i=0; i<subdomains.length; i++){
									if(!ret) {
										if(subdomains[i].lid==subID) ret=true;
										else ret=hasSub(subdomains[i].subdomains, subID);
									}
								}
								return ret;
							}
						%>
						<%for(var i=0; i<metadata.domain.length; i++){%>
							<%if(metadata.domain[i].id==superID){ var dom=metadata.domain[i]; %>
								<a href="./dom?superID=<%=dom.id%>" class="domain L0 current <%if(!subID){%>selected<%}%>"><span class="ga" lang="ga"><%=dom.title.ga%></span> <span class="en" lang="en"><%=dom.title.en%></span></a>
								<%for(var i1=0; i1<metadata.domain[i].subdomains.length; i1++){ var sub1=metadata.domain[i].subdomains[i1]; %>
									<a href="./dom?superID=<%=dom.id%>&amp;subID=<%=sub1.lid%>" class="domain L1 <%if(hasSub(sub1.subdomains, subID)){%>current<%}%> <%if(subID==sub1.lid){%>current selected<%}%>"><span class="ga" lang="ga">»&nbsp; <%=sub1.title.ga%></span> <span class="en" lang="en">»&nbsp; <%=sub1.title.en || sub1.title.ga%></span></a>
									<%for(var i2=0; i2<sub1.subdomains.length; i2++){ var sub2=sub1.subdomains[i2]; %>
										<a href="./dom?superID=<%=dom.id%>&amp;subID=<%=sub2.lid%>" class="domain L2 <%if(hasSub(sub2.subdomains, subID)){%>current<%}%> <%if(subID==sub2.lid){%>current selected<%}%>"><span class="ga" lang="ga">»&nbsp; <%=sub2.title.ga%></span> <span class="en" lang="en">»&nbsp; <%=sub2.title.en  || sub2.title.ga%></span></a>
										<%for(var i3=0; i3<sub2.subdomains.length; i3++){ var sub3=sub2.subdomains[i3]; %>
											<a href="./dom?superID=<%=dom.id%>&amp;subID=<%=sub3.lid%>" class="domain L3 <%if(hasSub(sub3.subdomains, subID)){%>current<%}%> <%if(subID==sub3.lid){%>current selected<%}%>"><span class="ga" lang="ga">»&nbsp; <%=sub3.title.ga%></span> <span class="en" lang="en">»&nbsp; <%=sub3.title.en  || sub3.title.ga%></span></a>
											<%for(var i4=0; i4<sub3.subdomains.length; i4++){ var sub4=sub3.subdomains[i4]; %>
												<a href="./dom?superID=<%=dom.id%>&amp;subID=<%=sub4.lid%>" class="domain L4 <%if(hasSub(sub4.subdomains, subID)){%>current<%}%> <%if(subID==sub4.lid){%>current selected<%}%>"><span class="ga" lang="ga">»&nbsp; <%=sub4.title.ga%></span> <span class="en" lang="en">»&nbsp; <%=sub4.title.en  || sub4.title.ga%></span></a>
											<%}%>
										<%}%>
									<%}%>
								<%}%>
							<%}%>
						<%}%>
					</div>
					<div>
						<a class="domainAction shower" href="javascript:void(null)" onclick="$('.domains .domain').slideDown(); $('.domainAction.shower').hide(); $('.domainAction.hider').show()">
							<span class="icon fas fa-chevron-down"></span>
							<span class="ga" lang="ga">Taispeáin ordlathas</span>
							<span class="en" lang="en">Show hierarchy</span>
						</a>
						<a class="domainAction hider" href="javascript:void(null)" style="display: none;" onclick="$('.domains .domain').not('.current').slideUp(); $('.domainAction.hider').hide(); $('.domainAction.shower').show()">
							<span class="icon fas fa-chevron-up"></span>
							<span class="ga" lang="ga">Folaigh ordlathas</span>
							<span class="en" lang="en">Hide hierarchy</span>
						</a>
					</div>
					<script type="text/javascript">$('.domains .domain').not('.current').hide();</script>
				<%}%>

				<a class="kickboxToggler" href="javascript:void(null)" onclick="$('.kickbox').insertAfter($('.kickboxToggler')).slideToggle()">
          <span class="icon fas fa-bars"></span>
          <span class="text ga" lang="ga">Roghanna</span>
          <span class="text en" lang="en">Options</span>
        </a>

				<%if(superID){%>
					<div class="unheadedListing">
						<!--
						<div class="pager alone">
							<a href="#" class="left arrow">«</a>
							<a href="#" class="right arrow">»</a>
							<a href="#" class="page">1</a>
							<a href="#" class="page">2</a>
							<span class="dots">&middot; &middot; &middot; &middot; &middot; &middot;</span>
							<a href="#" class="page">8</a>
							<a href="#" class="page">9</a>
							<a href="#" class="page current">10</a>
							<a href="#" class="page">11</a>
							<a href="#" class="page">12</a>
							<span class="dots">&middot; &middot; &middot; &middot; &middot; &middot;</span>
							<a href="#" class="page">27</a>
							<a href="#" class="page">28</a>
						</div>
						-->

						<%if(!entries || entries.length==0){%>
							<div class="nojoy">
								<div class="ga">Níor aimsíodh téarma ar bith.</div>
								<div class="en">No terms found.</div>
							</div>
						<%} else {%>
							<%for(var i=0; i<entries.length; i++){%>
								<div class="entry" id="entry_<%-entries[i].id%>"></div>
								<script type="text/javascript">
									$("#entry_<%-entries[i].id%>").html(Pretty.entry(<%-entries[i].json%>));
								</script>
							<%}%>
						<%}%>

						<!--
						<div class="pager">
							<a href="#" class="left arrow">«</a>
							<a href="#" class="right arrow">»</a>
							<a href="#" class="page">1</a>
							<a href="#" class="page">2</a>
							<span class="dots">&middot; &middot; &middot; &middot; &middot; &middot;</span>
							<a href="#" class="page">8</a>
							<a href="#" class="page">9</a>
							<a href="#" class="page current">10</a>
							<a href="#" class="page">11</a>
							<a href="#" class="page">12</a>
							<span class="dots">&middot; &middot; &middot; &middot; &middot; &middot;</span>
							<a href="#" class="page">27</a>
							<a href="#" class="page">28</a>
						</div>
						-->
					</div>
				<%}%>

      </div>
    </div>

    <div class="footer">
      <div class="inside">
        <div class="statement">
          <div><span class="label">Sonraí téarmaíochta © 2006–2018</span> <a target="_blank" href="https://www.forasnagaeilge.ie/">Foras na Gaeilge</a></div>
          <div><span class="label">Réiteach teicniúil © 2006–2018</span> <a target="_blank" href="https://www.gaois.ie/">Fiontar &amp; Scoil na Gaeilge, DCU</a></div>
        </div>
        <div class="icons">
          <a href="#" class="facebook fab fa-facebook"></a>
          <a href="#" class="twitter fab fa-twitter"></a>
        </div>
        <div class="sitelinks">
					<a class="sitelink" href="#">
            <span class="icon fas fa-info-circle"></span>
            <span class="ga" lang="ga">Eolas faoin suíomh seo</span>
            <span class="en" lang="en">About this website</span>
          </a>
          <a class="sitelink" href="#">
            <span class="icon fas fa-question-circle"></span>
            <span class="ga" lang="ga">Conas an suíomh seo a úsáid</span>
            <span class="en" lang="en">How to use this website</span>
          </a>
          <a class="sitelink" href="#">
            <span class="icon fas fa-comment"></span>
            <span class="ga" lang="ga">Cuir ceist téarmaíochta</span>
            <span class="en" lang="en">Ask a terminological question</span>
          </a>
          <a class="sitelink" href="#">
            <span class="icon fas fa-download"></span>
            <span class="ga" lang="ga">Liostaí le híoslódáil</span>
            <span class="en" lang="en">Downloadable lists</span>
          </a>
        </div>
        <div class="externalinks">
          <a class="tearma" href="./"><img src="./furniture/minilogo-tearma.png"/>&nbsp;téarma.ie</a>
          <span class="sep">|</span>
          <a class="focloir" href="https://www.focloir.ie/"><img src="./furniture/minilogo-focloir.png"/>&nbsp;foclóir.ie</a>
          <span class="sep">|</span>
          <a class="teanglann" href="https://www.teanglann.ie/"><img src="./furniture/minilogo-teanglann.png"/>&nbsp;teanglann.ie</a>
        </div>
      </div>
    </div>

	</body>
</html>
