<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="icon" type="image/x-icon" href="./furniture/favicon.ico"/>
		<title>téarma.ie</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="./furniture/furniture.js"></script>
		<link type="text/css" rel="stylesheet" href="./furniture/furniture.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

		<script type="text/javascript" src="/views/_tearma/pretty/spec.js"></script>
		<script type="text/javascript" src="/views/_tearma/pretty/pretty.js"></script>
		<link type="text/css" rel="stylesheet" href="/views/_tearma/pretty/pretty.css"/>
		<script type="text/javascript">var termbaseMetadata=<%-JSON.stringify(metadata)%>;</script>
		<script type="text/javascript">var termbaseConfigs=<%-JSON.stringify(configs)%>;</script>

	</head>
	<body>

    <div class="topbar">
      <div class="inside">
        <a class="current" href="./"><img src="./furniture/minilogo-tearma.png"/><span>téarma.ie</span></a><a class="focloir" href="https://www.focloir.ie/"><img src="./furniture/minilogo-white.png"/><span>foclóir.ie</span></a><a class="teanglann" href="https://www.teanglann.ie/"><img src="./furniture/minilogo-white.png"/><span>teanglann.ie</span></a></div>
    </div>

    <div class="envelope">
      <div class="rightie">

        <div class="logobox">
          <a href="./" class="logo"><img src="./furniture/tearma.png" alt="téarma.ie"/></a>
          <div class="title">
            <span class="ga" lang="ga">Bunachar Náisiúnta Téarmaíochta don Ghaeilge</span>
            &middot; <span class="en" lang="en">National Terminology Database for Irish</span>
          </div>
          <div class="icons">
            <a href="#" class="facebook fab fa-facebook"></a>
            <a href="#" class="twitter fab fa-twitter"></a>
          </div>
        </div>

        <div class="kickbox">
					<a class="langlink selected" href="#">
            <span class="icon">⁕</span>
            <span class="ga" lang="ga">Torthaí i ngach teanga</span>
            <span class="en" lang="en">Matches in any language</span>
          </a>
					<a class="langlink" href="#">
            <span class="icon">GA</span>
            <span class="ga" lang="ga">Torthaí i nGaeilge amháin</span>
            <span class="en" lang="en">Matches in Irish only</span>
          </a>
					<a class="langlink" href="#">
            <span class="icon">EN</span>
            <span class="ga" lang="ga">Torthaí i mBéarla amháin</span>
            <span class="en" lang="en">Matches in English only</span>
          </a>
					<div class="sep"></div>
					<a class="sitelink" href="#">
            <span class="icon fas fa-plus-square"></span>
            <span class="ga" lang="ga">Taispeáin breis mionsonraí</span>
            <span class="en" lang="en">Show more details</span>
          </a>
					<a class="sitelink" href="#">
            <span class="icon fas fa-print"></span>
            <span class="ga" lang="ga">Leagan furasta le priontáil</span>
            <span class="en" lang="en">Printer-friendly version</span>
          </a>
        </div>

      </div>
      <div class="leftie">

				<div class="swapper">
					<a href="./" class="current">
						<span class="icon fas fa-search"></span>
						<span class="ga" lang="ga">Cuardach tapa</span>
            <span class="en" lang="en">Quick search</span>
					</a>
					<a  href="./adv">
						<span class="icon fas fa-search-plus"></span>
            <span class="ga" lang="ga">Cuardach casta</span>
            <span class="en" lang="en">Advanced search</span>
          </a>
					<a  href="./dom">
						<span class="icon fas fa-sitemap"></span>
						<span class="ga" lang="ga">Brabhsáil</span>
						<span class="en" lang="en">Browse</span>
          </a>
				</div>

        <form class="textbox" action="./s">
          <div class="text"><input name="text" value="<%-text%>"/></div>
          <button class="submit">
            <span class="icon fas fa-search"></span>
          </button>
        </form>

				<!--<div class="similars">
					<a href="#">Baean</a>
					<span class="sep">&middot;</span>
					<a href="#">ban</a>
					<span class="sep">&middot;</span>
					<a href="#">BEAB</a>
					<span class="sep">&middot;</span>
					<a href="#">bead</a>
					<span class="sep">&middot;</span>
					<a href="#">beam</a>
				</div>-->

				<a class="kickboxToggler" href="javascript:void(null)" onclick="$('.kickbox').insertAfter($('.kickboxToggler')).slideToggle()">
          <span class="icon fas fa-bars"></span>
          <span class="text ga" lang="ga">Roghanna</span>
          <span class="text en" lang="en">Options</span>
        </a>

				<div class="sectitle">
					<span class="icon far fa-dot-circle"></span>
					<span class="ga" lang="ga">Torthaí beachta</span>
					<span class="en" lang="en">Exact matches</san>
				</div>
				<%if(!primeEntries || primeEntries.length==0){%>
					<div class="nojoy">
						<div class="ga">Níor aimsíodh téarma ar bith.</div>
						<div class="en">No terms found.</div>
					</div>
				<%} else {%>
					<%for(var i=0; i<primeEntries.length; i++){%>
						<div class="entry" id="entry_<%-primeEntries[i].id%>"></div>
						<script type="text/javascript">
							$("#entry_<%-primeEntries[i].id%>").html(Pretty.entry(<%-primeEntries[i].json%>));
						</script>
					<%}%>
				<%}%>

				<div class="sectitle">
					<span class="icon fas fa-bullseye"></span>
					<span class="ga" lang="ga">Téarmaí gaolmhara</span>
					<span class="en" lang="en">Related terms</san>
				</div>
				<%if(!entries || entries.length==0){%>
					<div class="nojoy">
						<div class="ga">Níor aimsíodh téarma ar bith.</div>
						<div class="en">No terms found.</div>
					</div>
				<%} else {%>
					<%for(var i=0; i<entries.length; i++){%>
						<div class="entry" id="entry_<%-entries[i].id%>"></div>
						<script type="text/javascript">
							$("#entry_<%-entries[i].id%>").html(Pretty.entry(<%-entries[i].json%>));
						</script>
					<%}%>
				<%}%>

				<div class="sectitle">
					<span class="icon fas fa-list"></span>
					<span class="ga" lang="ga">Gluaiseanna breise</span>
					<span class="en" lang="en">Auxiliary glossaries</san>
				</div>
				<div class="nojoy">
					<div class="ga">Níor aimsíodh téarma ar bith.</div>
					<div class="en">No terms found.</div>
				</div>

      </div>
    </div>

    <div class="footer">
      <div class="inside">
        <div class="statement">
          <div><span class="label">Sonraí téarmaíochta © 2006–2018</span> <a target="_blank" href="https://www.forasnagaeilge.ie/">Foras na Gaeilge</a></div>
          <div><span class="label">Réiteach teicniúil © 2006–2018</span> <a target="_blank" href="https://www.gaois.ie/">Fiontar &amp; Scoil na Gaeilge, DCU</a></div>
        </div>
        <div class="icons">
          <a href="#" class="facebook fab fa-facebook"></a>
          <a href="#" class="twitter fab fa-twitter"></a>
        </div>
        <div class="sitelinks">
					<a class="sitelink" href="#">
            <span class="icon fas fa-info-circle"></span>
            <span class="ga" lang="ga">Eolas faoin suíomh seo</span>
            <span class="en" lang="en">About this website</span>
          </a>
          <a class="sitelink" href="#">
            <span class="icon fas fa-question-circle"></span>
            <span class="ga" lang="ga">Conas an suíomh seo a úsáid</span>
            <span class="en" lang="en">How to use this website</span>
          </a>
          <a class="sitelink" href="#">
            <span class="icon fas fa-comment"></span>
            <span class="ga" lang="ga">Cuir ceist téarmaíochta</span>
            <span class="en" lang="en">Ask a terminological question</span>
          </a>
          <a class="sitelink" href="#">
            <span class="icon fas fa-download"></span>
            <span class="ga" lang="ga">Liostaí le híoslódáil</span>
            <span class="en" lang="en">Downloadable lists</span>
          </a>
        </div>
        <div class="externalinks">
          <a class="tearma" href="./"><img src="./furniture/minilogo-tearma.png"/>&nbsp;téarma.ie</a>
          <span class="sep">|</span>
          <a class="focloir" href="https://www.focloir.ie/"><img src="./furniture/minilogo-focloir.png"/>&nbsp;foclóir.ie</a>
          <span class="sep">|</span>
          <a class="teanglann" href="https://www.teanglann.ie/"><img src="./furniture/minilogo-teanglann.png"/>&nbsp;teanglann.ie</a>
        </div>
      </div>
    </div>

	</body>
</html>
