<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="icon" type="image/x-icon" href="../../furniture/favicon.ico"/>
    <title><%=termbaseConfigs.ident.title[uilang] || termbaseConfigs.ident.title.$%></title>
		<script type="text/javascript" src="../../libs/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="../../libs/screenful/screenful-theme-green.css" />
		<script type="text/javascript" src="../../libs/screenful/screenful.js"></script>
    <link type="text/css" rel="stylesheet" href="../../libs/screenful/screenful.css" />
		<script type="text/javascript" src="../../libs/screenful/screenful-loc-<%-uilang%>.js"></script>
		<script type="text/javascript" src="../../localizer/<%-uilang%>.js"></script>
		<script type="text/javascript">var rootPath="../../";</script>

		<script type="text/javascript" src="../../libs/screenful/screenful-uilang.js"></script>
		<link type="text/css" rel="stylesheet" href="../../libs/screenful/screenful-uilang.css" />
		<script type="text/javascript">
		Screenful.Uilang.url="../../uilang?lang=$",
		Screenful.Uilang.languages=<%-JSON.stringify(uilangs)%>;
		Screenful.Uilang.current="<%-uilang%>";
		</script>

		<script type="text/javascript" src="../../libs/screenful/screenful-user.js"></script>
		<link type="text/css" rel="stylesheet" href="../../libs/screenful/screenful-user.css" />
		<script type="text/javascript">
		Screenful.User.loggedin=<%=(user.loggedin ? "true" : "false")%>;
		Screenful.User.username="<%=user.email%>";
		</script>
		<script type="text/javascript" src="../../furniture/screenful-user-config.js"></script>

		<link type="text/css" rel="stylesheet" href="../../furniture/ui.css" />
	</head>
	<body>
    <%-include("../header.ejs", {user: user, termbaseID: termbaseID, termbaseConfigs: termbaseConfigs, sectionID: "config", subsectionID: null, subsectionTitle: null, rootPath: "../../"})%>
		<div id="pagebody">
			<div class="field">
				<div class="signposts">
					<div class="title"><%=L('Termbase settings')%></div>
					<div class="signpost"><a href="./ident/"><%=L('Name and blurb')%></a></div>
					<div class="signpost disabled"><a xhref="./lingo/"><%=L('Languages')%></a></div>
					<div class="signpost disabled"><a xhref="./abc/"><%=L('Alphabetical order')%></a></div>
					<div class="signpost disabled"><a xhref="./features/"><%=L('Features')%></a></div>
					<div class="signpost"><a href="./triggers/"><%=L('Automatic status changes')%></a></div>
        </div>
        <div class="signposts">
					<div class="title"><%=L('Termbase access')%></div>
					<div class="signpost"><a href="./users/"><%=L('Users')%></a></div>
					<div class="signpost disabled"><a xhref="./publico/"><%=L('Publishing')%></a></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="dangerzone">
				<div class="inside">
					<a xhref="./url/" class="disabled changeUrl"><%=L('Change the termbase\'s URL')%></a>
					<a xhref="javascript:void(null)" class="disabled destroy" onclick="destroy()"><%=L('Delete the termbase')%></a>
					<script type="text/javascript">
					function destroy(){
						if(confirm("<%=L('Careful now! You will not be able to undo this.')%>")){
							$.ajax({url: "./destroy.json", dataType: "json", method: "POST", data: {}}).done(function(data){
								if(data.success) window.location="../../";
							});
						}
					}
					</script>
				</div>
			</div>
		</div>
	</body>
</html>
