<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="icon" type="image/x-icon" href="../../furniture/favicon.ico"/>
    <title><%=termbaseConfigs.ident.title[uilang] || termbaseConfigs.ident.title.$%></title>
		<script type="text/javascript" src="../../libs/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="../../libs/screenful/screenful-theme-green.css" />
		<script type="text/javascript" src="../../libs/screenful/screenful.js"></script>
    <link type="text/css" rel="stylesheet" href="../../libs/screenful/screenful.css" />
		<script type="text/javascript" src="../../libs/screenful/screenful-loc-<%-uilang%>.js"></script>
		<script type="text/javascript" src="../../localizer/<%-uilang%>.js"></script>
		<script type="text/javascript">var rootPath="../../";</script>

		<script type="text/javascript" src="../../libs/screenful/screenful-uilang.js"></script>
		<link type="text/css" rel="stylesheet" href="../../libs/screenful/screenful-uilang.css" />
		<script type="text/javascript">
		Screenful.Uilang.url="../../uilang?lang=$",
		Screenful.Uilang.languages=<%-JSON.stringify(uilangs)%>;
		Screenful.Uilang.current="<%-uilang%>";
		</script>

		<script type="text/javascript" src="../../libs/screenful/screenful-user.js"></script>
		<link type="text/css" rel="stylesheet" href="../../libs/screenful/screenful-user.css" />
		<script type="text/javascript">
		Screenful.User.loggedin=<%=(user.loggedin ? "true" : "false")%>;
		Screenful.User.username="<%=user.email%>";
		</script>
		<script type="text/javascript" src="../../furniture/screenful-user-config.js"></script>

		<link type="text/css" rel="stylesheet" href="../../furniture/ui.css" />

		<script type="text/javascript">
			$(window).ready(function(){
				$(".localizeme.number").each(function(){
					var $this=$(this);
					var num=new Number($this.html());
					var str=num.toLocaleString("<%=uilang%>", {maximumFractionDigits: 2});
					$this.html(str);
				});
			});
		</script>

	</head>
	<body>
    <%-include("../header.ejs", {user: user, termbaseID: termbaseID, termbaseConfigs: termbaseConfigs, sectionID: "config", subsectionID: null, subsectionTitle: null, rootPath: "../../"})%>
		<div id="pagebody">
			<div class="field">
				<div class="signposts">
					<div class="glance">
						<div class="overtitle"><%=L("Your termbase at a glance")%></div>
						<table>
							<tr class="stat">
								<td class="caption"><%=L("Number of entries")%></td>
								<td class="value"><span class="localizeme number"><%=stats.entryCount%></span></td>
							</tr>
							<tr class="stat">
								<td class="caption"><%=L("Number of items in history log")%></td>
								<td class="value"><span class="localizeme number"><%=stats.historyCount%></span></td>
							</tr>
						</table>
						<div class="undertitle"><%-L("Your termbase is stored in the file %F").replace("%F", '<span class="filename">'+termbaseID+'.sqlite</span>')%></div>
						<table>
							<tr class="stat">
								<td class="caption"><%=L("File size")%></td>
								<td class="value"><span class="localizeme number"><%=stats.fileSize.value%></span>&nbsp;<%=stats.fileSize.unit%></td>
							</tr>
						</table>
						<div class="minisignpost"><a href="../../data/termbases/<%-termbaseID%>.sqlite"><%-L('Download %F').replace("%F", '<span class="filename">'+termbaseID+'.sqlite</span>')%>%></a></div>
						<%if(!locked){%><div class="minisignpost"><a href="./upload/"><%-L('Upload %F').replace("%F", '<span class="filename">'+termbaseID+'.sqlite</span>')%>%></a></div><%}%>
					</div>
				</div>
				<div class="signposts">
					<div class="signpost"><a href="./users/"><%=L('Users')%></a></div>
					<div class="signpost"><a href="./ident/"><%=L('Name and blurb')%></a></div>
					<div class="signpost"><a href="./lingo/"><%=L('Languages')%></a></div>
					<div class="signpost"><a href="./abc/"><%=L('Alphabetical order')%></a></div>
					<div class="signpost"><a href="./triggers/"><%=L('Automatic changes')%></a></div>
				</div>
				<div class="signposts">
					<%if(!locked){%><div class="signpost"><a href="./publico/"><%=L('Publishing')%></a></div><%}%>
					<div class="signpost"><a href="./news/"><%=L('News and announcements')%></a></div>
					<div class="signpost disabled"><a href="javascript:void(null)" xhref="./tbxout/"><%=L('TBX export')%></a></div>
					<div class="signpost disabled"><a href="javascript:void(null)" xhref="./tbxin/"><%=L('TBX import')%></a></div>
        </div>
				<div class="clear"></div>
			</div>
			<%if(!locked){%>
				<div class="dangerzone">
					<div class="inside">
						<a href="./url/" class="changeUrl"><%=L('Change the termbase\'s URL')%></a>
						<a href="javascript:void(null)" class="destroy" onclick="destroy()"><%=L('Delete the termbase')%></a>
							<script type="text/javascript">
							function destroy(){
								if(confirm("<%=L('Careful now! You are about to delete this termbase. You will not be able to undo this.')%>")){
									$.ajax({url: "./destroy.json", dataType: "json", method: "POST", data: {}}).done(function(data){
										if(data.success) window.location="../../";
									});
								}
							}
							</script>
						<a href="javascript:void(null)" class="purge" onclick="purge()"><%=L('Empty the termbase')%></a>
							<script type="text/javascript">
							function purge(){
								if(confirm("<%=L('Careful now! You are about to delete all entries and their history. You will not be able to undo this.')%>")){
									$.ajax({url: "./purge.json", dataType: "json", method: "POST", data: {}}).done(function(data){
										if(data.success) window.location="../edit/";
									});
								}
							}
							</script>
					</div>
				</div>
			<%}%>
		</div>
	</body>
</html>
