<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="icon" type="image/x-icon" href="../../../furniture/favicon.ico"/>
    <title><%=termbaseConfigs.ident.title[uilang] || termbaseConfigs.ident.title.$%></title>
		<script type="text/javascript" src="../../../libs/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="../../../libs/screenful/screenful-theme-green.css" />
		<script type="text/javascript" src="../../../libs/screenful/screenful.js"></script>
    <link type="text/css" rel="stylesheet" href="../../../libs/screenful/screenful.css" />
		<script type="text/javascript" src="../../../libs/screenful/screenful-loc-<%-uilang%>.js"></script>
		<script type="text/javascript" src="../../../localizer/<%-uilang%>.js"></script>
		<script type="text/javascript">var rootPath="../../../";</script>

		<script type="text/javascript" src="../../../libs/screenful/screenful-uilang.js"></script>
		<link type="text/css" rel="stylesheet" href="../../../libs/screenful/screenful-uilang.css" />
		<script type="text/javascript">
		Screenful.Uilang.url="../../../uilang?lang=$",
		Screenful.Uilang.languages=<%-JSON.stringify(uilangs)%>;
		Screenful.Uilang.current="<%-uilang%>";
		</script>

		<script type="text/javascript" src="../../../libs/screenful/screenful-user.js"></script>
		<link type="text/css" rel="stylesheet" href="../../../libs/screenful/screenful-user.css" />
		<script type="text/javascript">
		Screenful.User.loggedin=<%=(user.loggedin ? "true" : "false")%>;
		Screenful.User.username="<%=user.email%>";
		</script>
		<script type="text/javascript" src="../../../furniture/screenful-user-config.js"></script>

		<link type="text/css" rel="stylesheet" href="../../../libs/screenful/screenful-download.css" />
		<script type="text/javascript" src="../../../libs/screenful/screenful-download.js"></script>
		<script type="text/javascript">
		Screenful.Download.items=[
      <%for(var i=0; i<offsets.length-1; i++){%>
      {url: "<%-termbaseID%>-<%=((i*1000)+1)%>-<%=((i+1)*1000)%>.tbx", title: "<%-termbaseID%>-<%=((i*1000)+1)%>-<%=((i+1)*1000)%>.tbx", blurb: ""},
      <%}%>
      {url: "<%-termbaseID%>-<%=((i*1000)+1)%>-<%=stats.entryCount%>.tbx", title: "<%-termbaseID%>-<%=((i*1000)+1)%>-<%=stats.entryCount%>.tbx", blurb: ""},
		];
		</script>

		<link type="text/css" rel="stylesheet" href="../../../furniture/ui.css" />
	</head>
	<body>
    <%-include("../header.ejs", {user: user, termbaseID: termbaseID, termbaseConfigs: termbaseConfigs, sectionID: "config", subsectionID: configType, rootPath: "../../../"})%>
	</body>
</html>
