<div id="header" style="padding: 10px 14px; height: 38px; border-bottom: 1px solid var(--border);">
  <a href="<%-rootPath%><%=termbaseID%>/" class="dicTitle"><%=termbaseConfigs.ident.title%></a>

  <span class="dicLinks">
    <a href="<%-rootPath%><%=termbaseID%>/edit/" class="dicLink <%if(sectionID=='edit'){%>current<%}%>"><%=L("Edit")%></a>

    <a href="<%-rootPath%><%=termbaseID%>/config/" class="dicLink <%if(sectionID=='config'){%>current<%}%>"><%=L("Configuration")%></a>
    <%if(sectionID=="config" && subsectionID){%>
        <%
          var subtitle=subsectionID;
          if(subsectionID=="ident") subtitle="Name and description";
          if(subsectionID=="features") subtitle="Features";
          if(subsectionID=="lingo") subtitle="Languages";
          if(subsectionID=="users") subtitle="Users";
          if(subsectionID=="publico") subtitle="Publishing";
          if(subsectionID=="extraneto") subtitle="Extranets";
        %>
        <a href="<%-rootPath%><%=termbaseID%>/config/<%=subsectionID%>/" class="dicLink current mergeleft"><%=subtitle%></a>
    <%}%>

    <a href="<%-rootPath%><%=termbaseID%>/metadata/" class="dicLink <%if(sectionID=='metadata'){%>current<%}%>"><%=L("Metadata")%></a>
    <%if(sectionID=="metadata" && subsectionID){%>
        <%
          var subtitle=subsectionID;
          if(subsectionID=="termLabel") subtitle="Term labels";
          if(subsectionID=="inflectLabel") subtitle="Inflection labels";
          if(subsectionID=="acceptLabel") subtitle="Acceptability labels";
          if(subsectionID=="source") subtitle="Sources";
          if(subsectionID=="domain") subtitle="Domains";
          if(subsectionID=="collection") subtitle="Collections";
          if(subsectionID=="tag") subtitle="Tags";
        %>
        <a href="<%-rootPath%><%=termbaseID%>/metadata/<%=subsectionID%>/" class="dicLink current mergeleft"><%=subtitle%></a>
    <%}%>

    <a href="<%-rootPath%><%=termbaseID%>/download/" class="dicLink <%if(sectionID=='download'){%>current<%}%> disabled">Download</a>

    <a href="<%-rootPath%><%=termbaseID%>/upload/" class="dicLink <%if(sectionID=='upload'){%>current<%}%> disabled">Upload</a>
  </span>

  <div class="topright">
    <div class="one ScreenfulUilang"></div>
    <div class="one ScreenfulUser"></div>
  </div>
</div>
