<div id="header" style="padding: 10px 10px; height: 38px; border-bottom: 1px solid var(--border);">
  <a href="<%-rootPath%><%=termbaseID%>/" class="dicTitle"><%=termbaseConfigs.ident.title[uilang] || termbaseConfigs.ident.title.$%></a>

  <span class="dicLinks">

    <a href="<%-rootPath%><%=termbaseID%>/edit/" class="dicLink <%if(sectionID=='edit'){%>current<%}%> <%if(user.level<1 && !user.isAdmin){%>disabled<%}%>"><%=L("Editing")%></a>

    <a href="<%-rootPath%><%=termbaseID%>/admin/" class="dicLink <%if(sectionID=='metadata'){%>current<%}%> <%if(user.level<4 && !user.isAdmin){%>disabled<%}%>"><%=L("Administration")%></a>
    <%if(sectionID=="metadata" && subsectionID){%>
        <%
          var subtitle=subsectionID;
          if(subsectionID=="domain") subtitle=L('Domains');
          if(subsectionID=="posLabel") subtitle=L('Part-of-speech labels');
          if(subsectionID=="inflectLabel") subtitle=L('Inflection labels');
          if(subsectionID=="acceptLabel") subtitle=L('Acceptability labels');
          if(subsectionID=="source") subtitle=L('Sources');
          if(subsectionID=="collection") subtitle=L('Collections');
          if(subsectionID=="tag") subtitle=L('Tags');
          if(subsectionID=="extranet") subtitle=L('Extranets');
        %>
        <a href="<%-rootPath%><%=termbaseID%>/metadata/<%=subsectionID%>/" class="dicLink current mergeleft"><%=subtitle%></a>
    <%}%>

    <a href="<%-rootPath%><%=termbaseID%>/config/" class="dicLink <%if(sectionID=='config'){%>current<%}%> <%if(user.level<5 && !user.isAdmin){%>disabled<%}%>"><%=L("Configuration")%></a>
    <%if(sectionID=="config" && subsectionID){%>
        <%
          var subtitle=subsectionID;
          if(subsectionID=="ident") subtitle=L("Name and blurb");
          if(subsectionID=="lingo") subtitle=L("Languages");
          if(subsectionID=="abc") subtitle=L("Alphabetical order");
          if(subsectionID=="features") subtitle=L("Features");
          if(subsectionID=="users") subtitle=L("Users");
          if(subsectionID=="publico") subtitle=L("Publishing");
          if(subsectionID=="triggers") subtitle=L("Automatic status changes");
        %>
        <a href="<%-rootPath%><%=termbaseID%>/config/<%=subsectionID%>/" class="dicLink current mergeleft"><%=subtitle%></a>
    <%}%>

  </span>

  <div class="topright">
    <div class="one ScreenfulUilang"></div>
    <div class="one ScreenfulUser"></div>
  </div>
</div>
