<!DOCTYPE HTML>
<html>
	<head>
		<%-termbaseConfigs.siteconfig.trackingCode%>

		<meta charset="UTF-8"/>
		<title>Screenful Editor</title>
		<script type="text/javascript">var rootPath="/../../../";</script>
    <script type="text/javascript">var metadataType="<%-metadataType%>";</script>
		<script type="text/javascript">var termbaseConfigs=<%-JSON.stringify(termbaseConfigs).replace(/</g, "&lt;")%>;</script>

		<script type="text/javascript" src="../../../libs/jquery.js"></script>
		<link type="text/css" rel="stylesheet" href="../../../libs/screenful/screenful-theme-green.css" />
    <link type="text/css" rel="stylesheet" href="../../../libs/screenful/screenful.css" />
		<script type="text/javascript" src="../../../libs/screenful/screenful.js"></script>
		<script type="text/javascript" src="../../../libs/screenful/screenful-loc-<%-uilang%>.js"></script>
		<script type="text/javascript" src="../../../localizer/<%-uilang%>.js"></script>
		<script type="text/javascript" src="../../../libs/js.cookie.js"></script>

		<script type="text/javascript" src="../../../libs/screenful/screenful-editor.js"></script>
		<link type="text/css" rel="stylesheet" href="../../../libs/screenful/screenful-editor.css" />
		<script type="text/javascript">
		Screenful.Editor.readUrl="./read.json";
		Screenful.Editor.createUrl="./create.json";
		Screenful.Editor.updateUrl="./update.json";
		Screenful.Editor.deleteUrl="./delete.json";
		Screenful.Editor.createFunc=function(data){ termbaseMetadata[metadataType]=data.metadata[metadataType]; };
		Screenful.Editor.updateFunc=function(data){ termbaseMetadata[metadataType]=data.metadata[metadataType]; };
		Screenful.Editor.deleteFunc=function(data){ termbaseMetadata[metadataType]=data.metadata[metadataType]; };
		</script>

		<script type="text/javascript">
		uilangs=<%-JSON.stringify(uilangs)%>;
		</script>

    <script type="text/javascript" src="../../../libs/screenful/screenful-uilang.js"></script>
		<link type="text/css" rel="stylesheet" href="../../../libs/screenful/screenful-uilang.css" />
		<script type="text/javascript">
		Screenful.Uilang.url="../../uilang?lang=$",
		Screenful.Uilang.languages=<%-JSON.stringify(uilangs)%>;
		Screenful.Uilang.current="<%-uilang%>";
		</script>

		<script type="text/javascript">
		// Screenful.Editor.viewer=function(div, entry){
		// 	$(div).html(entry.id);
		// };
		</script>

		<link type="text/css" rel="stylesheet" href="../../../libs/fy/fy.css" />
		<script type="text/javascript" src="../../../libs/fy/fy.js"></script>
		<script type="text/javascript" src="../../../views/termbase-admin/fy-<%-metadataType%>.js"></script>
		<script type="text/javascript">
		Screenful.Editor.editor=function(div, entry, uneditable){
			if(!entry) entry={content: JSON.stringify(Spec.blank)};
			Fy.render($(div), JSON.parse(entry.content), Spec, uneditable);
			// $(div).html("<textarea style='padding: 10px; box-sizing: border-box; width: 100%; height: 400px; resize: vertical; border: 0px; box-shadow: inset 0px 0px 5px #999999; color: var(--link); border-radius: 4px; margin-top: 10px; font-size: 0.9rem;'></textarea>");
			// $(div).find("textarea").focus().val(JSON.stringify(JSON.parse(entry.content), null, "  "));
		};
		Screenful.Editor.harvester=function(div){
			var ret=Fy.harvest($(div));
			return JSON.stringify(ret, null, "  ");
			//return $(div).find("textarea").val();
		};
		</script>

		<%if(user.isAdmin){%>
			<script type="text/javascript">
				Screenful.Editor.allowSourceCode=true;
				Screenful.Editor.formatSourceCode=function(str){
					return Screenful.formatJson(str);
				};
				Screenful.Editor.validateSourceCode=function(str){
					return Screenful.isWellFormedJson(str);
				};
				Screenful.Editor.cleanupSourceCode=function(str){
					return str;
				};
			</script>
		<%}%>

		<script type="text/javascript">
		var termbaseConfigs=window.parent.termbaseConfigs;
		var termbaseMetadata=window.parent.termbaseMetadata;
		</script>

		<link type="text/css" rel="stylesheet" href="../../../furniture/ui.css" />

	</head>
	<body>
	</body>
</html>
